@model IEnumerable<string>

<span class="navCategoryText">Category</span>
<ul>
    @foreach (string x in Model)
    {
    <li>
        @Html.RouteLink(
        x,
        new
        {
            controller = "Book",
            action = "List",
            genre = x,
            page = 1
        },
        new
        {
            @class = "menuItem" +
            (ViewBag.genre == x ? " menuItemSelected" : "")
        }
        )
    </li>
    }
</ul>    
