@using Library.Domain.Entities
@using Library.HtmlHelpers
@model Library.ViewModels.BooksListViewModel

@{
    ViewBag.Title = "Book List";
}

<h2>@ViewBag.Title</h2>
@foreach(Book x in Model.Books)
{
    @Html.Partial("BookSummary", x);
}
<div class="selectPage">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x , genre = Model.BookGenre}))
</div>