@using Library.Domain.Entities
@model IEnumerable<Library.Domain.Entities.Book>

@{
    ViewBag.Title = "Search results";
    var iterator = 1;
}

<article class="bookList">
    <span class="pageTopic">@ViewBag.Title</span>
    <div class="bookContainer">
        @foreach (Book x in Model)
        {
            if (iterator % 3 == 0)
            {
                @Html.Partial("BookSummary", x, new ViewDataDictionary(ViewData) { { "className", "noRightBorder" } });
            }
            else
            {
                @Html.Partial("BookSummary", x);
            }
            iterator++;
        }
    </div>
</article>