@model Library.Domain.Entities.Book

@{ 
    var className = (string)ViewData["className"];
}

<div class="itemContainer @className">
    <img width="150" height="250" src="@Url.Action("GetImage", "Book", new { Model.BookID})" />
    <h5>@Model.Title</h5>
    <h6>@Model.Author</h6>
</div>