@{
    ViewBag.Title = "Error";
}
<article class="errorMessage">
    <h3>Error message!</h3>
    <p>An error has occurred while trying to process your request.</p>
    <p>@ViewBag.Error</p>
</article>