* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*Header Menu*/
.siteHeader {
    position: relative;
    background-color: black;
}

.searchBar {
    width: 85%;
    margin: auto;
}

.navTop {
    padding: 1em;
    padding-bottom: 0.5em;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 75%;
}

.navTop a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}

.navTop input {
    margin-left: 1em;
    padding: 0.5em;
    width: 50%;
    outline: none;
}

.searchButton {
    padding: 0.5em;
    border-left: none;
    cursor: pointer;
    color: white;
    outline: none;
    background: #FF6F61;
    border: 2px solid #FF6F61;
}

.navBottom {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    width: 75%;
}

.navBottom a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
    font-size: 1.2rem;
}

.navBottom a:hover {
    background-color: #80808080;
}

.left {
    justify-content: flex-start;
    padding-left: 1em;
}

/* body */
body {
    background-color: #f3f3f3;
}

main {
    width: 90%;
    margin: auto;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
}

article{
    margin: auto;
    width: 100%;
}
/* Left menu */
.menuContainer {
    width: 30%;
}

.leftMenu {
    width: 90%;
    height: max-content;
    background-color: white;
    justify-content: flex-start;
    padding: 1em;
    margin-bottom: 1em;
}

.leftMenu ul {
    list-style-position: inside;
    list-style-image: url("../Images/chevron_right.svg");
    margin-left: 1em;
    font-size: 1.1rem;
}

.leftMenu a {
    color: black;
    text-decoration: none;
}

.leftMenu a:hover {
    color: #FF6F61;
}
.navCategoryText {
    font-weight: bold;
    font-size: 1.3rem;
}


.menuItemSelected {
    color: #FF6F61 !important;
}

/* Main books page */
.bookList {
    width: 75%;
    margin-left: 2em;
    background-color: white;
}

.pageTopic {
    display: block;
    font-size: 1.6rem;
    padding: 0.5em;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid black;
}

.bookContainer {
    margin-top: 0.5em;
}

.itemContainer {
    position: relative;
    width: 33.3%;
    height: 365px;
    float: left;
    padding: 20px;
    border-bottom: 1px solid #dee1e6;
    border-right: 1px solid #dee1e6;
    text-align: center;
    z-index: 0;
}

.hideButton {
    display: none;
}

.itemContainer:hover {
    border: 1px solid #a49f9e !important;
    box-shadow: 0 2px 8px #a49f9e;
    z-index: 100;
}

.itemContainer:hover .hideButton {
    display: block;
}

.addButton {
    padding: 0.2em;
    margin: 0.1em;
    background-color: #f67062;
    border: 1px solid #f67062;
    border-radius: 0.3em;
    font-size: 1rem;
    width: 100%;
    outline: none;
}

.addButton:hover {
    color: white;
    background-color: #FBC5C0;
    border-color: #FBC5C0;
    cursor: pointer;
}

.noRightBorder {
    border-right: 0px !important;
}

.bookHref {
    color: black;
}

/* Bottom navigation */
.selectPage {
    clear: both;
    text-align: center;
}

.pageLinks {
    display: inline-block;
    padding: 1em;
    margin: 1em 0em 1em 0.5em;
    border-radius: 0.5em;
    color: white;
    text-decoration: none;
    background-color: white;
    color: black;
}

.selectedPage {
    background-color: #FF6F61;
}

/* Forms css */

form{
    width: 80%;
    margin: auto;
}

.formLeft {
    width: 80%;
    margin: 0 !important;
}

form > h1 {
    font-weight: 300;
    margin: 0.4em;
}

.formGroup {
    font-size: 1.2rem;
    margin: 1em;
}

.formGroup > label {
    font-size: 1.4rem;
}

.formRows {
    margin-top: 0.25em;
}

.formRows > input {
    display: block;
    width: 75%;
    height: 4vh;
    border: 1px solid #808080;
    border-radius: 0.3em;
    margin-bottom: 0.25em;
    padding-left: 1em;
}

.formRows > input:focus {
    border: 1px solid #f67062;
    outline: none;
}

.formRows > span {
    color: #990000;
}

.formRows > textarea {
    display: block;
    width: 75%;
    max-width: 75%;
    min-width: 75%;
    height: 50%;
    max-height: 20vh;
    padding: 0.3em;
}

.inputDisabled {
    background-color: #C0C0C0;
}

.inputDisabled:focus {
    border: 1px solid #808080 !important;
}

/* Forms submit buttons */
.submitSection {
    margin: 1em;
}

.submitSection > input {
    padding: 0.5em;
    background-color: #f67062;
    border: 1px solid #f67062;
    border-radius: 0.3em;
    font-size: 1.4rem;
    width: 15%;
    outline: none;
}

.submitSection > input:hover {
    color: white;
    background-color: #FBC5C0;
    border-color: #FBC5C0;
}

/* Submit section blue */
.submitSectionBlue {
    margin-left: 1em;
}

.submitSectionBlue > input {
    padding: 1em;
    color: white;
    background-color: #4e9af1;
    border: 1px solid #4e9af1;
    border-radius: 0.3em;
    outline: none;
}

.submitSectionBlue > input:hover {
    background-color: #95c2f7;
    border-color: #95c2f7;
    cursor: pointer;
}

.returnButton {
    padding: 0.5em;
    background-color: #f67062;
    border: 1px solid #f67062;
    border-radius: 0.3em;
    font-size: 1.4rem;
    width: 25%;
    outline: none;
    text-decoration: none;
    color: black;
}

.returnButton:hover {
    color: white;
    background-color: #FBC5C0;
    border-color: #FBC5C0;
}

.submitSectionBlueRow{
    display: inline-block;
}

/* Custom error messages */
.alertMessage {
    position: absolute;
    z-index: 10;
    text-align: center;
    padding: 1em;
    width: 50%;
    color: white;
    border-radius: 0.3em;
    left: 50%;
    top: 6%;
    transform: translate(-50%, 0);
    cursor: default;
}

.error {
    background-color: red;
}

.successful {
    background-color: green;
}

.info {
    background-color: blue;
}

.customError {
    font-size: 1.4rem;
    color: #990000;
    padding-left: 1em;
}

.validation-summary-errors > ul {
    list-style-type: none;
    color: #990000;
    font-size: 1.4rem;
    padding-left: 1em;
}

/* Table to show book table */
.customTable {
    margin: auto;
    margin-top: 1em;
    border-collapse: collapse;
}

.customTable > tbody > tr > th {
    font-size: 1.4rem;
    min-width: 15vw;
}

.customTable > tbody > tr {
    border-bottom: 1px solid #ccc;
}

.customTable > tbody > tr > td {
    padding: 1em;
    font-size: 1.2rem;
}

.middleText {
    font-weight: 300;
    text-align: center;
    padding: 1em;
    font-size: 1.5rem;
}

.editIcon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../Images/edit.png");
}

.deleteIcon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../Images/delete.png");
}

.uploadName {
    margin-left: 1em;
    padding: 0.5em;
    display: inline-block;
    color: #f67062;
}

.bookDescription {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
/* Book description */
.bookGalery {
    width: 33.333334%;
    padding: 2em;
    background-color: white;
    text-align: center;
}

.bookGalery > img {
    margin: auto;
}

.bookInfo {
    width: 41.66667%;
    text-align: center;
}

.bookInfo > h2 {
    font-weight: 300;
}

.bookInfo > h5 {
    font-weight: 200;
}

.bookOrder {
    width: 25%;
    background-color: white;
    display: flex;
    align-items: center;
}

.bookDesc {
    padding: 1em;
    background-color: white;
}

.bookDesc > h3 {
    font-weight: 300;
    font-size: 1.3rem;
}
/* Message after adding book to shelf */
.errorMessage {
    width: 75%;
    margin: auto;
    background-color: #ff3333;
    color: white;
    text-align: center;
    border-radius: 1em;
}

.errorMessage > h3 {
    font-size: 1.6rem;
    font-weight: 300;
    padding: 0.3em;
}

.errorMessage > p {
    font-size: 1.3rem;
    margin: 0.2em;
}

/* Bookshelf item */
.shelfTable {
    text-align: center;
}

.shelfRow:hover td {
    border: 1px solid #a49f9e !important;
    box-shadow: 0 2px 8px #a49f9e;
    z-index: 100;
    background-color: #a49f9e;
    color: white;
    cursor: pointer;
}

/* CARD */
.card {
    border: 1px solid #C0C0C0;
    border-radius: 0.2em;
    width: 50%;
    display: block;
    margin-bottom: 2em;
    margin: 1em;
}

.cardHeader {
    border-bottom: 1px solid #C0C0C0;
    background-color: #DCDCDC;
    padding: 0.5em;
    font-size: 1.1rem;
}

.cardBody {
    padding: 1em;
}

.cardRow {
    padding: 0.5em;
}

.cardSetting {
    border-top: 1px solid #C0C0C0;
    padding: 0.5em;
    background-color: #DCDCDC;
    text-align: center;
}

/* User list in edit role */
.userList {
    margin: 0.5em;
    list-style-type: square;
}

/* Button */
.button {
    display: inline-block;
    padding: 1em;
    margin: 1em;
    text-decoration: none;
    border-radius: 0.3em;
    background-color: #4e9af1;
    color: white;
    text-align: center;
    border: 0px;
}

.inCard {
    display: block;
    width: max-content;
    margin: 0;
}

.button:hover {
    background-color: #95c2f7;
}
